* {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

.logo-nav {
  width: 6em;
}

header {
  background-image: url("../img/banner2.jpg");
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-title {
  font-family: "Bebas Neue", cursive;
}

.experience-img {
  width: 12rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-icons li {
  display: inline-block;
  font-size: 3rem;
  margin-right: 2rem;
  color: #0C1821;

}

.imagenes {
  height: 130px;
  object-fit: cover;
}

.about-me{
  background-color: #0C1821;
}

.contacto{
  background-color: #0C1821;
}

.color{
  background-color: #040D15;
}